<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ead_hr_manager</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>EmployeeProfileResolver</servlet-name>
    <servlet-class>com.ead.hrmgr.data.servlets.EmployeeProfileResolver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeProfileResolver</servlet-name>
    <url-pattern>/api/get_employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Employees</servlet-name>
    <servlet-class>com.ead.hrmgr.data.servlets.Employees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employees</servlet-name>
    <url-pattern>/api/employees</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Tasks</servlet-name>
    <servlet-class>com.ead.hrmgr.data.servlets.Tasks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tasks</servlet-name>
    <url-pattern>/api/tasks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserRoles</servlet-name>
    <servlet-class>com.ead.hrmgr.data.servlets.UserRoles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRoles</servlet-name>
    <url-pattern>/api/user-roles</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TaskAssign</servlet-name>
    <servlet-class>com.ead.hrmgr.data.servlets.TaskAssign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TaskAssign</servlet-name>
    <url-pattern>/api/update_tasks</url-pattern>
  </servlet-mapping>
  
</web-app>